<div class="card shadow mb-4">
    <div class="card-header py-3 row">
        <h6 class="m-0 font-weight-bold col-10 text-dark">Order List</h6>
        <div class="new col-2">
            <a routerLink='add-brand' class="add"><i class="fa fa-plus"></i>Add New</a>
            
        </div>
        <hr class="h-divider">
        <div class="search">
            <div class="row">
                <div class="col-4">
                    <input type="date" name="" class="form-control" id=""> 
                </div>
               
                  <span>To</span>  
                
                <div class="col-4">
                    <input type="date" name="" class="form-control" id="">
                </div>
                <div class="col-3">
                    <a href="" class="btn btn-primary mr-1">Search</a>
                    <a href="" class="btn btn-primary">Print</a>
                </div>
            
        </div>
        </div>
        <table class="table mb-0 mt-4 table-bordered">
            <thead class="table-dark">
              <tr>
                <th scope="col" class="py-3" colspan="5"> 
                    <h6 class="m-0 font-weight-bold">Orders</h6>
                </th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                
                <td colspan="5">
                     
                </td>
                
              </tr>
            </tbody>
           
          </table>


    </div>
    
    
</div>